# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# log

# img
*.png
*.png
*.jpg
img/

# packages

# log

*.log
password.txt

###deneme
*.css
